<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qunar.mybatis.mapper.HolidayMapper">
    <resultMap id="holiday" type="Holiday">
        <id column="id" property="id"/>
        <result column="staff_id" property="staffId"/>
        <result column="sick_num" property="sick_num"/>
        <result column="annual_num" property="annual_num"/>
    </resultMap>

    <sql id="baseHoliday">
        id, staff_id, sick_num, annual_num
    </sql>

    <update id="updateEmployeeHolidayById">
        update holiday set annual_num = #{annualNum} where staff_id = #{staffId}
    </update>

    <select id="queryRemainSickNumById" resultType="Integer">
        select sick_num from holiday where staff_id = #{staffId}
    </select>

    <update id="updateEmployeeSickNumById">
        update holiday set sick_num = sick_num - #{cnt} where staff_id = #{staffId}
    </update>
</mapper>